<!doctype html>
<html lang="en" data-framework="jquery">
	<head>
		<meta charset="utf-8">
		<title>Armory and Machine clone</title>
		<link rel="stylesheet" href="css/theMachine.css">
    <link rel="stylesheet" href="css/collapse.css">
	</head>
   <!- ########## title section ############### ->
	<body id="body">
    <a href="https://tin-random.glitch.me/test">test page</a>
    <section id="title">
    	<header id="header">
			  <h1>The Machine</h1>
      </header>
    </section>
     <!- ########## end title section ########### ->
    
    <!- ########## Heat section ############### ->
    <section class="machine-parts" id="The-Machine">
      <section id="heat">
        <in-line-group>
          <button type="button" data-resource="heat" class="enableAutomation" id="heatManual" style="visibility:hidden" onclick="theMachine.manualCounterButton(event)">Heat</button>
          <button type="button" id="heat+">+</button>
          <button type="button" id="heat-">-</button>
          <!- add hammer and wrentch logo ->

          <div class="resource-bar" id="heatBar">
            <div id="heatText">Heat</div>
            <div id="heatCountUpAnim" data-resource="heat"></div>
          </div>
          
          <button type="button" data-resource="heat" class="enableAutomation" id="heatAutomate" onclick="theMachine.automationButton(event)">Disable Automation</button>
        </in-line-group>
        
        <in-line-group>
          <div>
            <div id="heatRate"><b>Rate:</b> unknown</div>
            <div id="heatTime"><b>Time remaining:</b> unknown</div>
            <div id="heatCountUpAnimManual" data-resource="heat"></div>
          </div>
        </in-line-group>  
        
        
        <br>
      </section>
      <!- css handled by collapse.css ->
        <button class="collapsible">+/-</button>
        <div class="content" style="display: none">
          <div class="contentTop">
            <div class="contentFloatLeft">
              <div>Item Cap: default cap</div>
              <div>Production Time: default time</div>
              <div>Production Volume: default volume</div>
            </div>
            <div class="contentFloatRight">
              <div>Worker Cap: default cap</div>
              <div>Automation Rate: default rate</div>
              <div>Worker Efficiency: default efficiency</div>
            </div>
          </div>
          <div class="contentBottom">
            <button class="modify-buttons" data-resource="heat" type="button" onclick="theMachine.updateCounter(event)">Job Speed</button>
            <button class="modify-buttons" data-resource="heat" type="button" onclick="theMachine.updateCounter(event)">Item Capacity</button>
          </div>
        </div>
    
      
    </section>
    

    <!- ########## end Heat section ########### ->
 
    <script src="js/countUp.js"></script>
    <script src="js/theMachine.js"></script>
    <script src="js/collapse.js"></script>
    <script src="js/templates.js"></script>
    
	</body>
</html>