<!doctype html>
<html lang="en" data-framework="jquery">
	<head>
		<meta charset="utf-8">
		<title>Armory and Machine clone</title>
		<link rel="stylesheet" href="css/theMachine.css">
	</head>
   <!- ########## title section ############### ->
	<body>
    <section id="title">
    	<header id="header">
			  <h1>The Machine</h1>
      </header>
    </section>
     <!- ########## end title section ########### ->
    
    <!- ########## Heat section ############### ->
    <section class="machine-parts" id="The-Machine">
      <section id="heat">
        <button type="button" id="heat+">+</button>
        <button type="button" id="heat-">-</button>
        <!- add hammer and wrentch logo ->
        
        <div class="resource-bar" id="heat-bar">
          <div id="heat-text">Heat</div>
          <div id="heat-counter"></div>
        </div>
      </section>
    </section>
    
    <!- ########## end Heat section ########### ->
 
    <script src="js/countUp.js"></script>
    <script src="js/theMachine.js"></script>

	</body>
</html>