<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
    <title>Armory and Machine clone</title>
		<link rel="stylesheet" href="css/theMachine.css">
    <link rel="stylesheet" href="css/collapse.css">
    <link rel="stylesheet" href="css/footer.css">
    <script async src="js/theMachine.js"></script>
    <script async src="js/templates.js"></script>
    <script async src="js/controllers.js"></script>
  </head>
  <body>
    <div id="spacer">
      <div id="content">
        <button id="tanksResearch" data-type="craftUnlockedResources" data-resource="tanks" data-requirement="5" onclick="theMachine.researchButtons(event)">Research Tanks</button>
        <button id="workersResearch" data-type="theArmoryUnlockedResources" data-resource="workers" data-requirement="50" onclick="theMachine.researchButtons(event)">Research Workers</button>
        <button id="klinsResearch" data-type="craftUnlockedResources" data-resource="klins" data-requirement="500" onclick="theMachine.researchButtons(event)">Research Klins</button>
        <button id="fluidResearch" data-type="craftUnlockedResources" data-resource="fluid" data-requirement="3000" onclick="theMachine.researchButtons(event)">Research Fluid</button>
      </div>
    </div>
  </body>
</html>