<html>
  <head>
    <script src="js/countUp.js"></script>
    <script src="js/templates.js"></script>
    <script src="js/theMachine.js"></script>
    <script src="js/collapse.js"></script>
    <script src="js/controllers.js"></script>
    <script src="https://justinbourb.github.io/jstinytest_dom_edition/tinytest_dom_edition.js"></script>
  </head>
  <body id="body">
    <div id="testingContainer" style="margin-left: -9999px; position:absolute; top:0; left:0;;">
      <section id="title">
        <header id="header">
          <h1>The Machine</h1>
          <div id="researchTests">
            <button id="tanksResearch" data-type="craftUnlockedResources" data-resource="tanks" data-requirement="5" onclick="theMachine.researchButtons(event)">Research Tanks</button>
            <button id="workersResearch" data-type="theArmoryUnlockedResources" data-resource="workers" data-requirement="50" onclick="theMachine.researchButtons(event)">Research Workers</button>
            <button id="klinsResearch" data-type="craftUnlockedResources" data-resource="klins" data-requirement="500" onclick="theMachine.researchButtons(event)">Research Klins</button>
            <button id="fluidResearch" data-type="craftUnlockedResources" data-resource="fluid" data-requirement="3000" onclick="theMachine.researchButtons(event)">Research Fluid</button>
          </div>
        </header>
      </section>

      <div id="spacer">
      <!- css handled by headerBar.css ->  
      <section class="headerBar">
        <div id="globalWorkerCount" data-resource="global">Workers: 0/5</div>  
      </section>

      <section id="The-Machine">
        <!- inner HTML created by theMachine.init() which calls templates.createResourceBarHTML() ->
      </section>

      </div>
    </div>  
  </body>
</html>

<script>

  //baseline test values for conditions & globalData
  conditions = (
    {
      heat: { capacityCost: 5, capacityLevel: 1, counterElement: "", counterElementManual: "", duration: "", efficiency: 25.12, endValue: 10, gradientColors: ["white", "#F5F5F5"], paused: false, ratePerSecond: 0.5, ratePerSecondBase: 0.5, rateCost: 6, rateLevel: 1, startValue: 0, wasPageLeft: false, workersAssigned: 1, workerCap: 1 },
      tanks: { capacityCost: 5, capacityLevel: 1, counterElement: "", counterElementManual: "", duration: "", efficiency: 27.52, endValue: 10, gradientColors: ["orange", "#F5F5F5"], paused: false, ratePerSecond: 0.5, rateCost: 6, rateLevel: 1, startValue: 0, wasPageLeft: false, workersAssigned: 0, workerCap: 5 }
    }
  ); 
  globalData = (
      {
        globalWorkerCap: 5, globalWorkersAvailable: 5, workersUnlocked: true,
        craftUnlockedResources: ['heat', 'tanks'], 
        craftLockedResources: ['klins', 'fluid'],
        theArmoryUnlockedResources: [],
        theArmoryLockedResources: ['workers']
      });
  //create resource HTML
  globalData.craftUnlockedResources.forEach(function(resource){
      templates.createResourceBarHTML(resource);
    });
  
  theMachine.calculateValues('init', 'craftUnlockedResources');
  
  function resetCountUp(resource) {
    theMachine.cancelAnimation(resource);
  };
  
  function resetConditions() {
    conditions.heat.startValue = 0;
    conditions.heat.endValue = 10;
    conditions.heat.ratePerSecond = 0.5;
    conditions.heat.ratePerSecondBase = 0.5;
    conditions.heat.workersAssigned = 1;
    conditions.heat.paused = false;
    conditions.heat.capacityCost = 5;
    try {
      conditions.heat.heatCountUpAnim.frameVal = 0;
      conditions.tanks.tanksCountUpAnim.frameVal = 0;
    } catch(e) {
      conditions.heat.heatCountUpAnim = {};
      conditions.heat.heatCountUpAnim.frameVal = 0;
      conditions.tanks.tanksCountUpAnim = {};
      conditions.tanks.tanksCountUpAnim.frameVal = 0;
    }
    
    conditions.tanks.ratePerSecond = 0.5;
    
    globalData.globalWorkersAvailable = 4;
  };
    
  tests({
    
    //
    //collapse.js
    //
    
    'collapse.js opens and closes the collapsable element clicked': function() {
      //not sure why this wasn't attached automatically, calling it here is a workaround.
      collapse.collapseEventListener();
      //open the container
      document.getElementById('heatCollapsible').click();
      eq(document.getElementById('heatCollapsibleContent').style.display, "flex");
      //close the container
      document.getElementById('heatCollapsible').click();
      eq(document.getElementById('heatCollapsibleContent').style.display, "none");
    },
    
    'collapse.js closes any other open elements when opening a new element': function() {
      //open the container
      document.getElementById('heatCollapsible').click();
      eq(document.getElementById('heatCollapsibleContent').style.display, "flex");
      eq(document.getElementById('tanksCollapsibleContent').style.display, "none")
      //close the container
      document.getElementById('tanksCollapsible').click();
      eq(document.getElementById('heatCollapsibleContent').style.display, "none");
      eq(document.getElementById('tanksCollapsibleContent').style.display, "flex");
    },
    
    //
    //theMachine.animateCountUp()
    //
    
   'theMachine.animateCountUp() updates the duration of the resource argument': function() {
     resetConditions();
     conditions.heat.duration = 1000;
     resetCountUp('heat');
     
     theMachine.animateCountUp('heat', 'heatCountUpAnim', conditions.heat.counterElement);
     eq(conditions.heat.duration, 20);
     
   },
    
   'theMachine.animateCountUp() after increasing workers, resource duration updated correctly': function() {
      //theMachine.animateCountUp() achieves this by changing duration based on workers assigned
      resetCountUp('heat');
      resetConditions();

      theMachine.animateCountUp('heat', 'heatCountUpAnim', conditions.heat.counterElement);
      eq(conditions.heat.duration, 20);
      conditions.heat.ratePerSecond = 1.0;
      theMachine.animateCountUp('heat', 'heatCountUpAnim', conditions.heat.counterElement);
      eq(conditions.heat.duration, 10);
    },
    
    'theMachine.animateCountUp() Case 1: it will animate if not paused && there are more than 0 workers assigned': function() {      
      resetConditions();
      delete conditions.heat.heatCountUpAnim;
      
      theMachine.animateCountUp('heat', 'heatCountUpAnim', conditions.heat.counterElement);
      eq(typeof(conditions.heat.heatCountUpAnim), 'object');
    },
    
    'theMachine.animateCountUp() //Case 2a: It will not animate if there are no workers assigned && ratePerSecond > 0': function() {      
      resetCountUp('heat');
      resetConditions();
      conditions.heat.workersAssigned = 0;
      globalData.globalWorkersAvailable = 5;
      delete conditions.heat.heatCountUpAnim;
      
      theMachine.animateCountUp('heat', 'heatCountUpAnim', conditions.heat.counterElement);
      eq(conditions.heat.heatCountUpAnim, undefined);  
    },
    
     'theMachine.animateCountUp() //Case 2b: It will not animate if the countUp is paused': function() {      
      resetCountUp('heat');
      conditions.heat.paused = true;
      conditions.heat.workersAssigned = 1;
      globalData.globalWorkersAvailable = 4;
      delete conditions.heat.heatCountUpAnim;
      
      theMachine.animateCountUp('heat', 'heatCountUpAnim', conditions.heat.counterElement);
      eq(conditions.heat.heatCountUpAnim, undefined);
    },
    
    'theMachine.animateCountUp() class="collapsible" child elements get their values updated while paused': function() {
      //rendering handled by theMachine.renderWhilePaused();
      conditions.heat.paused = true;
      conditions.tanks.paused = true;
      resetCountUp('heat');
      resetCountUp('tanks');
      theMachine.animateCountUp('heat', 'heatCountUpAnim', conditions.heat.counterElement);
      theMachine.animateCountUp('tanks', 'tanksCountUpAnim', conditions.tanks.counterElement);
      
      eq(document.getElementById('tanks' + 'ItemCap').innerHTML, 'Item Cap: <b>'+ conditions.tanks.endValue + '</b>')
      eq(document.getElementById('tanks' + 'JobCost').innerHTML, '<b>Cost: </b>' + conditions.tanks.rateCost + ' Heat');
      eq(document.getElementById('heat' + 'NextRate').innerHTML, '<b>Next: </b>' + parseFloat((conditions.heat.rateCost + conditions.heat.rateCost * 0.1).toFixed(3)).toLocaleString() + ' Heat');
      eq(document.getElementById('tanks' + 'JobLevel').innerHTML, '<b>Level: </b>' + conditions.tanks.rateLevel);
      eq(document.getElementById('heat' + 'WorkerCap').innerHTML, 'Worker Cap: <b>' + conditions.heat.workerCap + '</b>');
      eq(document.getElementById('tanks' + 'AutomationRate').innerHTML, 'Automation Rate: <b>' + parseFloat(conditions.tanks.ratePerSecond.toFixed(3)).toLocaleString() + '/s</b>');
      eq(document.getElementById('heat' + 'WorkerEfficiency').innerHTML, 'Worker Efficiency: <b>' + conditions.heat.efficiency + '%</b>');
      eq(document.getElementById('tanks' + 'AutomationRate').innerHTML, 'Automation Rate: <b>' + conditions.tanks.ratePerSecond + '/s</b>');
      eq(document.getElementById('heat' + 'ItemCap').innerHTML, 'Item Cap: <b>' + conditions.heat.endValue + '</b>');  
      eq(document.getElementById('tanks' + 'ItemCost').innerHTML, '<b>Cost: </b>' + conditions.heat.capacityCost + ' Tanks');
      eq(document.getElementById('tanks' + 'ItemLevel').innerHTML, '<b>Level: </b>' + conditions.tanks.capacityLevel);
      eq(document.getElementById('heat' + 'NextItem').innerHTML, '<b>Next: </b>' + parseFloat((conditions.heat.capacityCost + conditions.heat.capacityCost * 0.1).toFixed(3)).toLocaleString() + ' Tanks');
    },
    
    'theMachine.animateCountUp() if conditions[resource].ratePerSecond is negative, animate a countDown': function() {
      resetConditions();
      conditions.heat.ratePerSecond = -0.5;
      theMachine.animateCountUp('heat', 'heatCountUpAnim', conditions.heat.counterElement);
      eq(conditions.heat.heatCountUpAnim.endVal, 0);
    },
    
    'theMachine.animateCountUp() if conditions[resource].ratePerSecond is negative, recalculate the duration from startValue to zero': function() {
      let resource = 'heat';
      let countUpDuration = (conditions[resource].endValue - conditions[resource].startValue) / (conditions[resource].ratePerSecond * conditions[resource].workersAssigned);
      resetConditions();
      conditions.heat.startValue = 8;
      conditions.heat.ratePerSecond = -0.5;
      theMachine.animateCountUp('heat', 'heatCountUpAnim', conditions.heat.counterElement);
      eq(conditions.heat.duration, 16);
    },
    
    'theMachine.animateCountUp() if (workersAssigned = 0 && ratePerSecond < 0) a resource will continue to go down': function() {
      resetConditions();
      conditions.heat.ratePerSecond = -10;
      conditions.heat.workersAssigned = 0;
      conditions.heat.startValue = 5;
      delete conditions.heat.heatCountUpAnim;
      theMachine.animateCountUp('heat', 'heatCountUpAnim', conditions.heat.counterElement);
      eq(typeof(conditions.heat.heatCountUpAnim), 'object'); 
    },
    
    'theMachine.animateCountUp() if (ratePerSecondBase) will calculate countUp ratePerSecond as [resource].ratePerSecond': function() {
      resetConditions();
      delete conditions.heat.ratePerSecondBase;
      conditions.heat.workersAssigned = 5;
      theMachine.animateCountUp('heat', 'heatCountUpAnim', conditions.heat.counterElement);
      eq(document.getElementById('heat' + 'Rate').innerHTML, "<b>Rate:</b> "+ (conditions.heat.ratePerSecond * conditions.heat.workersAssigned) + " / second");
    },
    
    'theMachine.animateCountUp() if !(ratePerSecondBase) will calculate countUp ratePerSecond as [resource].ratePerSecond * workersAssigned': function() {
      resetConditions();
      conditions.heat.workersAssigned = 5;
      theMachine.animateCountUp('heat', 'heatCountUpAnim', conditions.heat.counterElement);
      eq(document.getElementById('heat' + 'Rate').innerHTML, "<b>Rate:</b> "+ (conditions.heat.ratePerSecond) + " / second");
    },
    
    'theMachine.animateCountUp() will set conditions.heat.timeOutId if heat ratePerSecond < 0': function() {
      //this will be used to cancel other animations that rely on heat after heat has run out
      resetConditions();
      conditions.heat.ratePerSecond = -0.5;
      delete conditions.heat.timeOutId;
      theMachine.animateCountUp('heat', 'heatCountUpAnim', conditions.heat.counterElement);
      eq(typeof(conditions.heat.timeOutId), 'number');
    },
    
     'theMachine.animateCountUp() will set a new value for conditions.heat.timeOutId if conditions.heat.timeOutId exists': function() {
      //first it calls clearTimeout, but I'm not sure how to test for that!
      resetConditions();
      conditions.heat.ratePerSecond = -0.5;
      conditions.heat.timeOutId = 'some fake value';
      theMachine.animateCountUp('heat', 'heatCountUpAnim', conditions.heat.counterElement);
      eq(typeof(conditions.heat.timeOutId), 'number');
      eq(conditions.heat.timeOutId, 6);
    },
    
    'theMachine.animateCountUp() will not animate a resource if resourceSpent === 0 && resourceSpent.ratePerSecond <= 0': function() {
      resetConditions();
      resetCountUp('heat');
      resetCountUp('tanks');
      conditions.heat.ratePerSecond = 0;
      conditions.tanks.workersAssigned = 1;
      delete conditions.tanks.tanksCountUpAnim;
      theMachine.animateCountUp('tanks', 'tanksCountUpAnim', conditions.heat.counterElement, 'heat');
      eq(conditions.tanks.tanksCountUpAnim, undefined);
      
      resetConditions();
      resetCountUp('heat');
      resetCountUp('tanks');
      conditions.heat.startValue = 0;
      conditions.tanks.workersAssigned = 1;
      delete conditions.tanks.tanksCountUpAnim;
      theMachine.animateCountUp('tanks', 'tanksCountUpAnim', conditions.heat.counterElement, 'heat');
      eq(conditions.tanks.tanksCountUpAnim, undefined);
    },  
    
    //
    //theMachine.automationButton()
    //
    
    'theMachine.automationButton() set HTML style while paused && toggles paused state': function() {
      let testCase = {target: {dataset: {resource: "heat"}}};
      document.getElementById('heat' + 'AutomationButton').innerHTML = "Disable Automation";
      conditions.heat.paused = true;
      
      theMachine.automationButton(testCase);
      //Case 1: resource counter is paused
      eq(document.getElementById('heat' + 'AutomationButton').innerHTML, "Disable Automation");
      eq(document.getElementById('heat' + 'Plus').style.display, 'inline-block');
      eq(document.getElementById('heat' + 'Plus').style.marginLeft, "5%");
      eq(document.getElementById('heat' + 'Minus').style.display, 'inline-block');
      eq(document.getElementById('heat' + 'Rate').style.visibility, 'visible');
      eq(document.getElementById('heat' + 'Time').style.visibility, 'visible');
      eq(document.getElementById('heat' + 'WorkerCount').style.visibility, 'visible');
      eq(document.getElementById('heat' + 'Manual').style.display, 'none');
      eq(document.getElementById('heat' + 'CountUpAnimManual').style.display, 'none'); 
      eq(conditions.heat.paused, false);
      
      theMachine.automationButton(testCase);
      //Case 2: toggle paused state to true
      eq(conditions.heat.paused, true);
    },
    
    //
    //theMachine.calculateResourceGenerationOverTime()
    //
    
    'theMachine.calculateResourceGenerationOverTime() calculates resources generation based on time passed': function() {
      //Case 1: it works for positive values
      conditions['heat'].wasPageLeft = Date.now() - 2000;
      conditions.heat.ratePerSecond = 0.5
      let result = theMachine.calculateResourceGenerationOverTime('heat'); 
      eq(result, 1);
      //Case 2: it works for negative values
      conditions.heat.ratePerSecond = -0.5
      result = theMachine.calculateResourceGenerationOverTime('heat');
      eq(result, -1);
    },
    
    //
    //theMachine.calculateValues()
    //
    
    'theMachine.calculateValues("bindEvents") runs checkStartValue for whichInit arguement': function() {
      resetConditions();
      conditions.heat.heatCountUpAnim.frameVal = 25;
      theMachine.calculateValues('bindEvents', 'craftUnlockedResources');
      eq(conditions.heat.startValue, 25);
    },
    
    'theMachine.calculateValues("bindEvents") sets [resource].wasPageLeft to Date.now() for whichInit arguement': function() {
      resetConditions();
      conditions.heat.wasPageLeft = false;
      theMachine.calculateValues('bindEvents', 'craftUnlockedResources');
      eq(conditions.heat.wasPageLeft, Date.now());
    },
    
    'theMachine.calculateValues("init") should fill in calculated values for conditions':function() {       
      theMachine.calculateValues('init', 'craftUnlockedResources');
      eq(conditions.heat.counterElement, document.getElementById("heatCountUpAnim"));
      eq(conditions.heat.counterElementManual, document.getElementById("heatCountUpAnimManual"));
    },
    
    'theMachine.calculateValues("init") updates startValue based on time passed if not paused':function() {
      conditions.heat.wasPageLeft = Date.now() - 10000;
      resetConditions();
      let oldStartValue = conditions.heat.startValue;
      theMachine.calculateValues('init', 'craftUnlockedResources');
      eq(conditions.heat.startValue, oldStartValue + 5);
    },
    
    'theMachine.calculateValues("init") should not update values based on time passed if paused':function () {
      conditions.heat.wasPageLeft = Date.now() - 10000;
      conditions.heat.paused = true;
      let oldStartValue = conditions.heat.startValue;
      theMachine.calculateValues('init', 'craftUnlockedResources');
      eq(conditions.heat.startValue, oldStartValue);
    },
    
    'theMachine.calculateValues("init") should not update values based on time passed if no workers are assigned':function () {
      conditions.heat.wasPageLeft = Date.now() - 10000;
      conditions.heat.paused = false;
      conditions.heat.workersAssigned = 0;
      let oldStartValue = conditions.heat.startValue;
      theMachine.calculateValues('init', 'craftUnlockedResources');
      eq(conditions.heat.startValue, oldStartValue);
    },
    
    'theMachine.calculateValues("init") Case 1: Resource generation cannot exceed endValue': function() {
      conditions['heat'].wasPageLeft = Date.now() - 2000;
      conditions.heat.ratePerSecond = 0.5;
      conditions.heat.startValue = 10;
      conditions.heat.endValue = 10;
      globalData.craftUnlockedResources = ['heat'];
      theMachine.calculateValues('init', 'craftUnlockedResources');
      eq(conditions.heat.startValue, 10);
      eq(conditions.heat.endValue, 10);
    },
    
    'theMachine.calculateValues("init") Case 2: Negative resource generation cannot cause startValue to be less than 0': function() {
      conditions.heat.startValue = 0;
      conditions['heat'].wasPageLeft = Date.now() - 2000;
      conditions.heat.ratePerSecond = -0.5
      globalData.craftUnlockedResources = ['heat'];
      theMachine.calculateValues('init', 'craftUnlockedResources');
      eq(conditions.heat.startValue, 0);
    },
    
    'theMachine.calculateValues("init") Case 3: it is safe to set startValue = newStartValue': function() {
      conditions.heat.startValue = 9;
      conditions.heat.workersAssigned = 1;
      conditions['heat'].wasPageLeft = Date.now() - 2000;
      conditions.heat.ratePerSecond = -0.5
      globalData.craftUnlockedResources = ['heat'];
      conditions.heat.paused = false;
      theMachine.calculateValues('init', 'craftUnlockedResources');
      eq(conditions.heat.startValue, 8);
    },
    
    'theMachine.calculateValues("init") sets resource[wasPageLeft] = false for whichInit': function() {
      conditions.heat.wasPageLeft = 501;
      theMachine.calculateValues('init', 'craftUnlockedResources');
      eq(conditions.heat.wasPageLeft, false);
    },
    
    //
    //theMachine.checkStartValue()
    //
    'theMachine.cancelAnimation() deletes conditions[resource][countUpAnim].count': function() {
      //which cancels the animation & prevents duplicate countUps
      resetConditions();
      theMachine.animateCountUp('heat', 'heatCountUpAnim', conditions.heat.counterElement);
      theMachine.cancelAnimation('heat');
      eq(conditions.heat.heatCountUpAnim.count, undefined);
    },
    
    //
    //theMachine.checkStartValue()
    //
    
    'theMachine.checkStartValue() Case 1a: if frameVal > startValue it will set startValue = frameVal && ratePerSecond > 0':function() {
      resetConditions();
      conditions.heat.heatCountUpAnim = {};
      conditions.heat.heatCountUpAnim.frameVal = 8;
      conditions.heat.startValue = 7;
      theMachine.checkStartValue("heat", "heatCountUpAnim");
      eq(conditions.heat.startValue, 8);
    },
    
    'theMachine.checkStartValue() Case 1b: it will do nothing if frameVal < startValue && ratePerSecond > 0':function() {
      resetConditions();
      conditions.heat.heatCountUpAnim = {};
      conditions.heat.heatCountUpAnim.frameVal = 6;
      conditions.heat.startValue = 7;
      theMachine.checkStartValue("heat", "heatCountUpAnim");
      eq(conditions.heat.startValue, 7);
    },
    
    'theMachine.checkStartValue() Case 1c: if frameVal > startValue it will set startValue = frameVal && ratePerSecond = 0':function() {
      resetConditions();
      conditions.heat.ratePerSecond = 0;
      conditions.heat.heatCountUpAnim = {};
      conditions.heat.heatCountUpAnim.frameVal = 8;
      conditions.heat.startValue = 7;
      theMachine.checkStartValue("heat", "heatCountUpAnim");
      eq(conditions.heat.startValue, 8);
    },
    
    'theMachine.checkStartValue() case 2a: it will update startValue when the counter is completed or deleted (by reading HTML values)': function() {
      delete conditions.heat.heatCountUpAnim;
      document.getElementById('heatCountUpAnim').innerHTML = '8 / 10';
      conditions.heat.startValue = 0;
      theMachine.checkStartValue("heat", "heatCountUpAnim");
      eq(conditions.heat.startValue, 8);
    },
    
    'theMachine.checkStartValue() case 2a: it will only update startValue when the counter is completed or deleted (by reading HTML values) if HTML is a number': function() {
      delete conditions.heat.heatCountUpAnim;
      document.getElementById('heatCountUpAnim').innerHTML = 'peter pan';
      conditions.heat.startValue = 0;
      theMachine.checkStartValue("heat", "heatCountUpAnim");
      eq(conditions.heat.startValue, 0);
    },
    
    'theMachine.checkStartValue() case 3: if (ratePerSecond < 0) will set startValue(a higher number) to frameVal(a lower number)': function() {
      conditions.heat.heatCountUpAnim = {};
      conditions.heat.heatCountUpAnim.frameVal = 6;
      conditions.heat.startValue = 7;
      conditions.heat.ratePerSecond = -10;
      theMachine.checkStartValue("heat", "heatCountUpAnim");
      eq(conditions.heat.startValue, 6);
    },
    
    //
    //theMachine.manualCounterButton()
    //
    
    'theMachine.manualCounterButton() creates a manual CountUp element for [resource] provided by the event': function() {
      delete conditions.heat.heatCountUpAnimManual;
      let testCase = {target: {dataset: {resource: "heat"}}};
      theMachine.manualCounterButton(testCase);
      eq(typeof(conditions.heat.heatCountUpAnimManual), 'object')
    },
    
    'theMachine.manualCounterButton() correctly disables and enables the resource generation button': function() {
      
      //click the button ==> it should be disabled during manual generation
      document.getElementById('heatManual').click();
      eq(document.getElementById('heatManual').disabled, true);
      //after manual generation (1000ms), the button is enabled again
      setTimeout(function() { 
        eq(document.getElementById('heatManual').disabled, false);
      }, 1001);
    },
    
    //
    //theMachine.manualCounterButtonStatus()
    //
    
    'theMachine.manualCounterButtonStatus() should toggle disabled state correctly':function() {
      resetConditions();
      theMachine.manualCounterButtonStatus('heat', 'heatCountUpAnim');
      eq(document.getElementById('heat' + 'Manual').disabled, false);
      conditions.heat.startValue = 10;
      theMachine.manualCounterButtonStatus('heat', 'heatCountUpAnim');
      eq(document.getElementById('heat' + 'Manual').disabled, true);
    },
    
    //
    //theMachine.pauseResume()
    //
    
    'theMachine.pauseResume() pauses and resumes counter correctly': function() {
      
      //set conditions to test during setTimeout so they will not be overwritten by other tests
      setTimeout(function() {
        resetCountUp('heat');
        resetConditions();
        conditions.heat.startValue = 9;
        conditions.heat.endValue = 30;
        conditions.heat.workersAssigned = 1;
        conditions.heat.paused = true; //if true, the animation will be paused by pauseResume();
        //this line will pause any existing CountUp element via countUp.js pauseResume();
        theMachine.pauseResume('heat', 'heatCountUpAnim');
        theMachine.animateCountUp('heat', 'heatCountUpAnim', conditions.heat.counterElement);
        //check innerHTML because CountUp is not running;
        eq(conditions.heat.startValue, 9);
        eq(document.getElementById('heatCountUpAnim').innerHTML, '9 / 30');
      }, 0);
      
      //no progress is made while paused
      setTimeout(function() { 
        eq(conditions.heat.startValue, 9)
        eq(document.getElementById('heatCountUpAnim').innerHTML, '9 / 30');
        eq(conditions.heat.heatCountUpAnim.frameVal, 9);
        conditions.heat.paused = false;
        theMachine.pauseResume('heat', 'heatCountUpAnim');
      }, 6000);

      //for some reason this does not trigger a fail in the window when failing, only prints to console
      setTimeout(function() {
        //the counter was resumed in last setTimeout, progress should be made
        eq(document.getElementById('heatCountUpAnim').innerHTML, '12 / 30');
        eq(conditions.heat.heatCountUpAnim.frameVal, 12);
      }, 12000);
    },
    
    //
    //theMachine.renderWhilePaused()
    //
    
    
    'theMachine.renderWhilePaused() case 1a: duration === infinity (no workers assigned)': function() {
      let resource = 'heat';
      resetCountUp('heat');
      globalData.workersUnlocked = true;
      conditions.heat.paused = false;
      conditions.heat.startValue = 4;
      conditions.heat.endValue = 10;
      conditions[resource].duration = Infinity;
      theMachine.renderWhilePaused('heat');
      eq(conditions[resource].counterElement.innerHTML, conditions[resource].startValue + ' / ' + conditions[resource].endValue);
      eq(document.getElementById(resource + 'Rate').innerHTML, '<b>Rate:</b> 0.00 / second');
      eq(document.getElementById(resource + 'Time').innerHTML, '<b>Time Remaining:</b> unknown');
    },
    
    'theMachine.renderWhilePaused() case 1b: ratePerSecond === 0': function() {
      let resource = 'heat';
      resetCountUp('heat');
      globalData.workersUnlocked = true;
      conditions.heat.paused = false;
      conditions.heat.startValue = 4;
      conditions.heat.endValue = 10;
      conditions[resource].duration = 52;
      conditions.heat.ratePerSecond = 0;
      theMachine.renderWhilePaused('heat');
      eq(conditions[resource].counterElement.innerHTML, conditions[resource].startValue + ' / ' + conditions[resource].endValue);
      eq(document.getElementById(resource + 'Rate').innerHTML, '<b>Rate:</b> 0.00 / second');
      eq(document.getElementById(resource + 'Time').innerHTML, '<b>Time Remaining:</b> unknown');
    },
    
    'theMachine.renderWhilePaused() case 1c: if duration === infinity && ratePerSecond < 0, display rate to the DOM': function() {
      resetConditions();
      conditions.heat.ratePerSecond = -100;
      conditions.heat.workersAssigned = 0;
      conditions.heat.duration = Infinity;
      theMachine.renderWhilePaused('heat');
      eq(document.getElementById('heat' + 'Rate').innerHTML, '<b>Rate:</b> -100 / second');
      
      
    },
    
    'theMachine.renderWhilePaused() case 2: conditions[resource].paused === true || globalData.workersUnlocked === false': function() {
      let resource = 'heat';
      resetCountUp('heat');
      globalData.workersUnlocked = true;
      conditions.heat.paused = true;
      conditions.heat.startValue = 4;
      conditions.heat.endValue = 10;
      conditions[resource].duration = 20;
      theMachine.renderWhilePaused('heat');
      
      eq(document.getElementById('heat' + 'AutomationButton').innerHTML, "Enable Automation");
      eq(document.getElementById('heat' + 'Plus').style.display, 'none');
      eq(document.getElementById('heat' + 'Minus').style.display, 'none');
      eq(document.getElementById('heat' + 'Rate').style.visibility, 'hidden');
      eq(document.getElementById('heat' + 'Time').style.visibility, 'hidden');
      eq(document.getElementById('heat' + 'WorkerCount').style.visibility, 'hidden');
      eq(document.getElementById('heat' + 'Manual').style.display, 'inline');
      eq(document.getElementById('heat' + 'Manual').style.visibility, 'visible');
      eq(document.getElementById('heat' + 'Manual').style.width, '48px');
      eq(document.getElementById('heat' + 'Manual').style.marginLeft, "5%");
      eq(document.getElementById('heat' + 'CountUpAnimManual').style.display, 'block');
    },
    
    
    //
    //theMachine.renderWorkers()
    //
    
    'theMachine.renderWorkers() Case 1: workers are unlocked && counter is not paused': function() {
      let resource = 'heat';
      globalData.workersUnlocked = true;
      conditions.heat.paused = false;
      theMachine.renderWorkers('heat');
      eq(document.getElementById(resource + 'AutomationButton').style.display, 'inline-block');
      eq(document.getElementById(resource + 'Collapsible').style.display, 'inline-block');
      eq(document.getElementById('globalWorkerCount').style.display, 'block');
      eq(document.getElementById(resource + 'WorkerCount').innerHTML, conditions['heat'].workersAssigned + '/' + conditions['heat'].workerCap);
      eq(document.getElementById('globalWorkerCount').innerHTML, 'Workers: ' + globalData.globalWorkersAvailable + '/' + globalData.globalWorkerCap);
    },
    'theMachine.renderWorkers() Case 2: workers are unlocked && counter is paused': function() {
      globalData.workersUnlocked = false;
      conditions.heat.paused = true;
      theMachine.renderWorkers('heat');
      eq(document.getElementById('heat' + 'AutomationButton').style.display, 'none');
      eq(document.getElementById('heat' + 'Collapsible').style.display, 'none');
      eq(document.getElementById('globalWorkerCount').style.display, 'none');
    },
    'theMachine.renderWorkers() Case 3: workers are locked': function() {
      let resource = 'heat';
      globalData.workersUnlocked = false;
      theMachine.renderWorkers('heat');
      eq(document.getElementById(resource + 'AutomationButton').style.display, 'none');
      eq(document.getElementById(resource + 'Collapsible').style.display, 'none');
      eq(document.getElementById('globalWorkerCount').style.display, 'none'); 
    },
    
    //
    //theMachine.researchButtons()
    //
    
    'theMachine.researchButtons() the research buttons push their resources to their respective globalData.[category]UnlockedResources': function() {
    globalData.craftUnlockedResources = ['heat'];
    globalData.theArmoryUnlockedResources = [];
    document.getElementById('tanksResearch').click();
    eq(globalData.craftUnlockedResources.includes('tanks'), true);
    document.getElementById('workersResearch').click();
    eq(globalData.theArmoryUnlockedResources.includes('workers'), true);
    document.getElementById('klinsResearch').click();
    eq(globalData.craftUnlockedResources.includes('klins'), true);
    document.getElementById('fluidResearch').click();
    eq(globalData.craftUnlockedResources.includes('fluid'), true);
    },
    
    'theMachine.researchButtons() the research buttons will not add a resource twice to globalData.resourcesUnlocked': function() {
      document.getElementById('tanksResearch').click();
      let counter = 0;
      globalData.craftUnlockedResources.forEach(function(element) {
        if (element === 'tanks'){
         counter += 1; 
        }
      });
      eq(counter, 1);
    },
    
    //
    //theMachine.researchRender()
    //
    
    
    'theMachine.researchRender() the research buttons will be hidden or shown based on their requirements': function() {
      /*Requirements:
      *tanks - 5 heat
      *workers - 50 heat
      *klins - 500 heat
      *fluid - 3000 heat
      */
      globalData.craftLockedResources = ['tanks', 'klins', 'fluid']
      
      conditions.heat.startValue = 0;
      theMachine.researchRender();
      eq(document.getElementById('tanksResearch').style.display, 'none');
      eq(document.getElementById('workersResearch').style.display, 'none');
      eq(document.getElementById('klinsResearch').style.display, 'none');
      eq(document.getElementById('fluidResearch').style.display, 'none');
      
      conditions.heat.startValue = 5;
      theMachine.researchRender();
      eq(document.getElementById('tanksResearch').style.display, 'inline-block');
      eq(document.getElementById('workersResearch').style.display, 'none');
      eq(document.getElementById('klinsResearch').style.display, 'none');
      eq(document.getElementById('fluidResearch').style.display, 'none');
      
      conditions.heat.startValue = 50;
      theMachine.researchRender();
      eq(document.getElementById('tanksResearch').style.display, 'inline-block');
      eq(document.getElementById('workersResearch').style.display, 'inline-block');
      eq(document.getElementById('klinsResearch').style.display, 'none');
      eq(document.getElementById('fluidResearch').style.display, 'none');
      
      conditions.heat.startValue = 500;
      theMachine.researchRender();
      eq(document.getElementById('tanksResearch').style.display, 'inline-block');
      eq(document.getElementById('workersResearch').style.display, 'inline-block');
      eq(document.getElementById('klinsResearch').style.display, 'inline-block');
      eq(document.getElementById('fluidResearch').style.display, 'none');
      
      conditions.heat.startValue = 3000;
      theMachine.researchRender();
      eq(document.getElementById('tanksResearch').style.display, 'inline-block');
      eq(document.getElementById('workersResearch').style.display, 'inline-block');
      eq(document.getElementById('klinsResearch').style.display, 'inline-block');
      eq(document.getElementById('fluidResearch').style.display, 'inline-block'); 
    },
    
    //
    //theMachine.store()
    //
    
    'theMachine.store() should store in local storage':function() {
      theMachine.store('test', 1);
      eq(theMachine.store('test'), 1);
      localStorage.removeItem('test');
    },
    
    //
    //theMachine.updateCounterButtons()
    //
    
    'theMachine.updateCounterButtons() "Item Capacity" should only update endValue when not paused':function() {
      //Test 1
      let testCase = {target: {dataset: {resource: "heat"}, innerHTML: 'Item Capacity'}};
      resetConditions();
      conditions.heat.startValue = 10;
      conditions.tanks.startValue = 100;
      conditions.tanks.endValue = 100;
      try{
        theMachine.updateCounterButtons(testCase);
      } catch (e) {};
      
      //condition which should change
      eq(conditions.heat.endValue, 11);
      
      //it should not affect other values
      eq(conditions.heat.counterElement, document.getElementById('heatCountUpAnim'));
      eq(conditions.heat.counterElementManual, document.getElementById('heatCountUpAnimManual'));
      eq(conditions.heat.duration, 2);
      eq(conditions.heat.gradientColors[0], "white");
      eq(conditions.heat.gradientColors[1], "#F5F5F5");
      eq(conditions.heat.paused, false);
      eq(conditions.heat.ratePerSecond, 0.5);
      eq(conditions.heat.rateCost, 6);
      eq(conditions.heat.startValue, 10);
      
      //Test 2
      testCase = {target: {dataset: {resource: "tanks"}, innerHTML: 'Item Capacity'}};
      resetConditions();
      conditions.heat.startValue = 10;
      conditions.tanks.startValue = 100;
      conditions.tanks.endValue = 100;
      conditions.tanks.workersAssigned = 1;
      conditions.tanks.paused = false;
      try{
        theMachine.updateCounterButtons(testCase);
      } catch (e) {};
      
      //condition which should change
      eq(conditions.tanks.endValue, 110);
      
      //it should not affect other values
      eq(document.getElementById('tanks' + 'Rate').innerHTML, "<b>Rate:</b> "+ (conditions.tanks.ratePerSecond) + " / second");
    },
    
    'theMachine.updateCounterButtons() "Item Capacity" should only update options.suffix, Item Cap and endVal when paused':function() {
      let testCase = {target: {dataset: {resource: "heat"}, innerHTML: 'Item Capacity'}};      
     
      conditions.heat.paused = true;
      conditions.heat.startValue = 10;
      conditions.heat.endValue = 10;
      conditions.heat.capacityCost = 5;
      conditions.tanks.startValue = 10;
      
      try{
        theMachine.updateCounterButtons(testCase);
      } catch (e) {};
      
      //conditions which should change
      eq(document.getElementById('heatCountUpAnim').innerHTML, '10 / 11');
      eq(conditions.heat.endValue, 11);
      
      //it should not affect other values
      eq(conditions.heat.counterElement, document.getElementById('heatCountUpAnim'));
      eq(conditions.heat.counterElementManual, document.getElementById('heatCountUpAnimManual'));
      eq(conditions.heat.duration, 2);
      eq(conditions.heat.gradientColors[0], "white");
      eq(conditions.heat.gradientColors[1], "#F5F5F5");
      eq(conditions.heat.paused, true);
      eq(conditions.heat.ratePerSecond, 0.5);
      eq(conditions.heat.rateCost, 6);
      eq(conditions.heat.startValue, 10);
    },
    
    'theMachine.updateCounterButtons("item capacity") have no effect if tanks.startValue < [resource].capacityCost':function() {
      resetConditions();
      conditions.heat.capacityCost = 10;
      conditions.tanks.startValue = 5;
      let testCase = {target: {dataset: {resource: "heat"}, innerHTML: 'Item Capacity'}};
      theMachine.updateCounterButtons(testCase);
      eq(conditions.heat.capacityCost, 10);
      eq(conditions.tanks.startValue, 5);
    },
    
    'theMachine.updateCounterButtons("item capacity") should reduce tanks.startValue by [resource].capacityCost':function() {
      let testCase = {target: {dataset: {resource: "tanks"}, innerHTML: 'Item Capacity'}};
      conditions.tanks.capacityCost = 5;
      conditions.tanks.startValue = 10
      theMachine.updateCounterButtons(testCase);
      eq(conditions.tanks.startValue, 5);
    },
    
    'theMachine.updateCounterButtons("item capacity") should increase [resource].capacityCost 10%':function() {
      let testCase = {target: {dataset: {resource: "tanks"}, innerHTML: 'Item Capacity'}};
      conditions.tanks.startValue = 10;
      conditions.tanks.capacityCost = 5;
      theMachine.updateCounterButtons(testCase);
      eq(conditions.tanks.capacityCost, 5.5);
    },
    
    'theMachine.updateCounterButtons("item capacity") should increase [resource].endValue by 10%':function() {
      let testCase = {target: {dataset: {resource: "heat"}, innerHTML: 'Item Capacity'}};
      conditions.heat.capacityCost = 5;
      conditions.tanks.startValue = 10;
      conditions.heat.endValue = 10;
      theMachine.updateCounterButtons(testCase);
      eq(conditions.heat.endValue, 11);
    },
    
    'theMachine.updateCounterButtons("item capacity") [resource].endValue should only be a whole number (countUp limitation)':function() {
      let testCase = {target: {dataset: {resource: "heat"}, innerHTML: 'Item Capacity'}};
      conditions.heat.capacityCost = 5;
      conditions.tanks.startValue = 10;
      conditions.heat.endValue = 11;
      theMachine.updateCounterButtons(testCase);
      eq(conditions.heat.endValue, 12);
    },
    
    'theMachine.updateCounterButtons() "Job Speed" should only update ratePerSecond, startValue and rateCost':function () {
      let testCase = {target: {dataset: {resource: "heat"}, innerHTML: 'Job Speed'}};   
      resetConditions();
      conditions.heat.startValue = 10;
      conditions.heat.paused = false;
      conditions.heat.endValue = 30;
      
       try{
        theMachine.updateCounterButtons(testCase);
      } catch (e) {};
      
      //conditions which should change
      eq(conditions.heat.ratePerSecond, 0.55);
      eq(conditions.heat.rateCost, 6.6);
      eq(conditions.heat.startValue, 4);
      
      //it should not affect other values
      eq(document.getElementById('heatCountUpAnim').innerHTML, '4 / 30');
      eq(conditions.heat.counterElement, document.getElementById('heatCountUpAnim'));
      eq(conditions.heat.counterElementManual, document.getElementById('heatCountUpAnimManual'));
      eq(conditions.heat.duration, 47.272727272727266);
      eq(conditions.heat.gradientColors[0], "white");
      eq(conditions.heat.gradientColors[1], "#F5F5F5");
      eq(conditions.heat.paused, false);
    },
      //conditions[resource][countUpNameAuto].options.ratePerSecond = conditions[resource].ratePerSecond;
    'theMachine.updateCounterButtons() "Job Speed" should update correctly while paused':function () {
      let testCase = {target: {dataset: {resource: "heat"}, innerHTML: 'Job Speed'}};   
      conditions.heat.paused = true;
      conditions.heat.startValue = 10;
      conditions.heat.ratePerSecond = 0.5;
      conditions.heat.ratePerSecondBase = 0.5;
      conditions.heat.rateCost = 6.6;
      
      try{
        theMachine.updateCounterButtons(testCase);
      } catch (e) {};

      //conditions which should change
      eq(conditions.heat.ratePerSecond, 0.55);
      eq(conditions.heat.rateCost, 7.26);
      eq(conditions.heat.startValue, 3.4000000000000004);
      eq(conditions.heat.rateLevel, 3);

      //it should not affect other values
      eq(conditions.heat.counterElement, document.getElementById('heatCountUpAnim'));
      eq(conditions.heat.counterElementManual, document.getElementById('heatCountUpAnimManual'));
      eq(conditions.heat.duration, 48.36363636363636);
      eq(conditions.heat.gradientColors[0], "white");
      eq(conditions.heat.gradientColors[1], "#F5F5F5");
      eq(conditions.heat.paused, true);
    },
    
    
    'theMachine.updateCounterButtons("job speed") should cost heat for all crafting resources while paused': function() {
      conditions.heat.startValue = 10;
      conditions.heat.endValue = 10;
      conditions.tanks.rateCost= 6;
      conditions.heat.paused = true;
      let testCase = {target: {dataset: {resource: "tanks"}, innerHTML: 'Job Speed'}};
      theMachine.updateCounterButtons(testCase);
      eq(conditions.heat.startValue, 4);
    },
    
    'theMachine.updateCounterButtons("job speed") should update DOM correctly when called from other resources while paused': function() {
      conditions.heat.startValue = 10;
      conditions.heat.endValue = 10;
      conditions.tanks.rateCost= 6;
      conditions.heat.paused = true;
      let testCase = {target: {dataset: {resource: "tanks"}, innerHTML: 'Job Speed'}};
      theMachine.updateCounterButtons(testCase);
      eq(conditions.heat.startValue, 4);
      eq(conditions.heat.heatCountUpAnim.frameVal, 4);
      eq(document.getElementById('heatCountUpAnim').innerHTML, '4 / 10');
    },
    
    'theMachine.updateCounterButtons("job speed") should restart the heat countUpAnim with new startValue when called from other resources while not paused': function() {
      conditions.heat.heatCountUpAnim.reset();
      conditions.heat.startValue = 10;
      conditions.heat.endValue = 10;
      conditions.tanks.rateCost= 6;
      conditions.heat.paused = false;
      delete conditions.heat.heatCountUpAnim;
      
      let testCase = {target: {dataset: {resource: "tanks"}, innerHTML: 'Job Speed'}};
      theMachine.updateCounterButtons(testCase);
      eq(conditions.heat.startValue, 4);
      eq(conditions.heat.heatCountUpAnim.frameVal, 4);
      eq(document.getElementById('heatCountUpAnim').innerHTML, '4 / 10');
      eq(typeof(conditions.heat.heatCountUpAnim), 'object');
    },
    
    'theMachine.updateCounterButtons("job speed") should cost heat for all crafting resources while not paused': function() {
      conditions.heat.startValue = 10;
      conditions.heat.endValue = 10;
      conditions.tanks.rateCost= 6;
      conditions.heat.paused = false;
      let testCase = {target: {dataset: {resource: "tanks"}, innerHTML: 'Job Speed'}};
      theMachine.updateCounterButtons(testCase);
      eq(conditions.heat.startValue, 4);
      
      conditions.heat.startValue = 10;
      conditions.heat.endValue = 10;
      conditions.tanks.rateCost= 6;
      conditions.heat.rateCost = 6;
      conditions.heat.heatCountUpAnim.frameVal = 10;
      conditions.heat.paused = false;
      conditions.heat.workersAssigned = 0;
      testCase = {target: {dataset: {resource: "heat"}, innerHTML: 'Job Speed'}};
      theMachine.updateCounterButtons(testCase);
      eq(conditions.heat.startValue, 4);
    },
    
    'theMachine.updateCounterButtons("job speed") should increase ratePerSecondBase if resource === resourceSpent': function() {
      let testCase = {target: {dataset: {resource: "heat"}, innerHTML: 'Job Speed'}};
      resetConditions();
      conditions.heat.startValue = 10;
      theMachine.updateCounterButtons(testCase);
      eq(conditions.heat.ratePerSecondBase, 0.55);
    },
    
    'theMachine.updateCounterButtons("job speed") should increase ratePerSecond * change in ratePerSecondBase if resource === resourceSpent': function() {
      let testCase = {target: {dataset: {resource: "heat"}, innerHTML: 'Job Speed'}};
      resetConditions();
      conditions.heat.startValue = 10;
      theMachine.updateCounterButtons(testCase);
      eq(conditions.heat.ratePerSecond, 0.55);
    },
    
    'theMachine.updateCounterButtons("job speed") if (resource.workersAssigned > 0) it should decrease resourceSpent.ratePerSecond when increasing resource.ratePerSecond': function() {
      //tanks rate increasing from 0.5 to 1, heat rate decreases proportionally 
      let testCase = {target: {dataset: {resource: "tanks"}, innerHTML: 'Job Speed'}};
      resetConditions();
      tanks.workersAssigned = 1;
      conditions.heat.startValue = 10;
      theMachine.updateCounterButtons(testCase);
      eq(conditions.heat.ratePerSecond, 0.48333333333333334);
      eq(conditions.tanks.ratePerSecond, 0.55);
    },
    
    'theMachine.updateCounterButtons("job speed") if (resource.workersAssigned = 0) it should not decrease resourceSpent.ratePerSecond when increasing resource.ratePerSecond': function() {
      //tanks rate increasing from 0.5 to 1, heat rate decreases proportionally 
      let testCase = {target: {dataset: {resource: "tanks"}, innerHTML: 'Job Speed'}};
      resetConditions();
      conditions.tanks.workersAssigned = 0;
      conditions.heat.startValue = 10;
      theMachine.updateCounterButtons(testCase);
      eq(conditions.heat.ratePerSecond, 0.5);
      eq(conditions.tanks.ratePerSecond, 0.55);
    },
    
    //
    //theMachine.updateGradientAndValue()
    //
    
    'theMachine.updateGradientAndValue() updates the inner HTML of countUpNameAuto': function() {
      let countUpNameAuto = 'heatCountUpAnim';
      conditions.heat.startValue = 0;
      conditions.heat.endValue = 10;
      document.getElementById(countUpNameAuto).innerHTML = 'wrong text'
      theMachine.updateGradientAndValue('heat', countUpNameAuto);
      eq(document.getElementById(countUpNameAuto).innerHTML, '0 / 10');
    },
    
    'theMachine.updateGradientAndValue() updates the style property of countUpNameAuto with the correct gradient': function() {
      let countUpNameAuto = 'heatCountUpAnim';
      conditions.heat.startValue = 5;
      conditions.heat.endValue = 10;
      theMachine.updateGradientAndValue('heat', countUpNameAuto);
      eq(document.getElementById(countUpNameAuto).style.backgroundImage, 'linear-gradient(to right, white, white 50%, rgb(245, 245, 245) 1%)');
    },
    
    //
    //theMachine.workerButtons()
    //
    
    'theMachine.workerButtons() updates global & resource worker counts': function() {
      let testCase = {target: {dataset: {resource: "heat"}, innerHTML: '+'}};
      conditions.heat.paused = false;
      conditions.heat.workersAssigned = 0;
      globalData.globalWorkersAvailable = 5;
      theMachine.workerButtons(testCase);
      eq(globalData.globalWorkersAvailable, 4);
      eq(conditions.heat.workersAssigned, 1);
      
      testCase = {target: {dataset: {resource: "heat"}, innerHTML: '-'}};
      theMachine.workerButtons(testCase);
      eq(globalData.globalWorkersAvailable, 5);
      eq(conditions.heat.workersAssigned, 0);  
    },
    
    'theMachine.workerButtons() cannot exceed resource caps or mins': function() {
      let testCase = {target: {dataset: {resource: "heat"}, innerHTML: '+'}};
      theMachine.workerButtons(testCase);
      theMachine.workerButtons(testCase);
      eq(globalData.globalWorkersAvailable, 4);
      eq(conditions.heat.workersAssigned, 1);
      
      testCase = {target: {dataset: {resource: "heat"}, innerHTML: '-'}};
      theMachine.workerButtons(testCase);
      theMachine.workerButtons(testCase);
      eq(globalData.globalWorkersAvailable, 5);
      eq(conditions.heat.workersAssigned, 0);  
    },
    
    'theMachine.workerButtons() cannot make global workersAvailable be a negative value': function() {
      let testCase = {target: {dataset: {resource: "heat"}, innerHTML: '+'}};
      conditions.heat.workerCap = 6;
      theMachine.workerButtons(testCase);
      theMachine.workerButtons(testCase);
      theMachine.workerButtons(testCase);
      theMachine.workerButtons(testCase);
      theMachine.workerButtons(testCase);
      theMachine.workerButtons(testCase);
      eq(globalData.globalWorkersAvailable, 0);
      eq(conditions.heat.workersAssigned, 5);
    },
    
    'theMachine.workerButtons() updates the number of workers in DOM correctly': function() {
      testCase = {target: {dataset: {resource: "heat"}, innerHTML: '-'}};
      theMachine.workerButtons(testCase);    
      
      eq(document.getElementById('heatWorkerCount').innerHTML, '4/6');
      eq(document.getElementById('globalWorkerCount').innerHTML, 'Workers: 1/5');
    },
    
    
    'theMachine.workerButtons() reduces resourceSpent ratePerSecond when increasing resource ratePerSecond': function() {
      let testCase = {target: {dataset: {resource: "tanks"}, innerHTML: '+'}};
      resetConditions();
      conditions.heat.workersAssigned = 0;
      conditions.heat.startValue = 10;
      globalData.globalWorkersAvailable = 5;
      theMachine.workerButtons(testCase);
      eq(conditions.heat.ratePerSecond, 0.33333333333333337);
      eq(conditions.tanks.ratePerSecond, 0.5);
    },
    
    'theMachine.workerButtons() increases resourceSpent ratePerSecond when reducing resource ratePerSecond': function() {
      let testCase = {target: {dataset: {resource: "tanks"}, innerHTML: '-'}};
      theMachine.workerButtons(testCase);
      eq(conditions.heat.ratePerSecond, 0.5);
      eq(conditions.tanks.ratePerSecond, 0.5);
    },
    
    'theMachine.workerButtons() if resource === resourceSpent && "-" button pressed decrease ratePerSecond by ratePerSecondBase': function() {
      //adding a worker to resourceSpent should increase by the base rate
      let testCase = {target: {dataset: {resource: "heat"}, innerHTML: '-'}};
      resetConditions();
      theMachine.workerButtons(testCase);
      eq(conditions.heat.ratePerSecond, 0);
    },
    
    'theMachine.workerButtons() if resource === resourceSpent && "+" button pressed increase ratePerSecond by ratePerSecondBase': function() {
      //adding a worker to resourceSpent should increase by the base rate
      let testCase = {target: {dataset: {resource: "heat"}, innerHTML: '+'}};
      resetConditions();
      theMachine.workerButtons(testCase);
      eq(conditions.heat.ratePerSecond, 1);
      theMachine.workerButtons(testCase);
      eq(conditions.heat.ratePerSecond, 1.5);
      theMachine.workerButtons(testCase);
      eq(conditions.heat.ratePerSecond, 2);
      theMachine.workerButtons(testCase);
      eq(conditions.heat.ratePerSecond, 2.5);
    },
    
    'theMachine.workerButtons() if resource === resourceSpent && "+" button pressed && initial ratePerSecond < 0 increase ratePerSecond by ratePerSecondBase': function() {
      //adding a worker to resourceSpent should increase by the base rate
      let testCase = {target: {dataset: {resource: "heat"}, innerHTML: '+'}};
      resetConditions();
      conditions.heat.ratePerSecond = -0.5;
      theMachine.workerButtons(testCase);
      eq(conditions.heat.ratePerSecond, 0);
      theMachine.workerButtons(testCase);
      eq(conditions.heat.ratePerSecond, 0.5);
      theMachine.workerButtons(testCase);
      eq(conditions.heat.ratePerSecond, 1);
      theMachine.workerButtons(testCase);
      eq(conditions.heat.ratePerSecond, 1.5);
    },
    
    'theMachine.workerButtons() it will not animate resource CountUp if resourceSpent startValue is zero': function() {
      let testCase = {target: {dataset: {resource: "tanks"}, innerHTML: '+'}};
      delete conditions.tanks.tanksCountUpAnim
      theMachine.workerButtons(testCase);
      eq(conditions.tanks.tanksCountUpAnim, undefined);
    },
    
    'theMachine.workerButtons() it will animate resource CountUp if resource === resourceSpent && startValue is zero': function() {
      let testCase = {target: {dataset: {resource: "heat"}, innerHTML: '+'}};
      delete conditions.heat.heatCountUpAnim
      theMachine.workerButtons(testCase);
      eq(typeof(conditions.heat.heatCountUpAnim), 'object');
    },
    
    'theMachine.workerButtons() it will call theMachine.renderWhilePaused() if ratePerSecond is zero': function() {
      let testCase = {target: {dataset: {resource: "heat"}, innerHTML: '+'}};
      delete conditions.heat.heatCountUpAnim;
      conditions.heat.ratePerSecond = 0;
      theMachine.workerButtons(testCase);
      eq(conditions.heat.heatCountUpAnim, undefined);
      eq(conditions['heat'].counterElement.innerHTML, conditions['heat'].startValue + ' / ' + conditions['heat'].endValue);
      eq(document.getElementById('heat' + 'Rate').innerHTML, '<b>Rate:</b> 0.00 / second');
      eq(document.getElementById('heat' + 'Time').innerHTML, '<b>Time Remaining:</b> unknown');
    },
    
    'theMachine.workerButtons() if workersAssigned === 0, it will stop the animation': function() {
      //test 1
      let testCase = {target: {dataset: {resource: "heat"}, innerHTML: '-'}};
      resetConditions();
      resetCountUp('heat');
      conditions.heat.workersAssigned = 1;
      delete conditions.heat.heatCountUpAnim;
      theMachine.workerButtons(testCase);
      eq(typeof(conditions.heat.heatCountUpAnim), 'undefined');
      
      //test 2
      testCase = {target: {dataset: {resource: "heat"}, innerHTML: '+'}};
      resetConditions();
      resetCountUp('heat');
      conditions.heat.workersAssigned = 0;
      delete conditions.heat.heatCountUpAnim;
      //go upto 1 worker
      theMachine.workerButtons(testCase);
      //go back to 0 workers, countUp should be stopped
      testCase = {target: {dataset: {resource: "heat"}, innerHTML: '-'}};
      theMachine.workerButtons(testCase);
      eq(typeof(conditions.heat.heatCountUpAnim.startTime), 'undefined');      
      
      //test 3
      testCase = {target: {dataset: {resource: "heat"}, innerHTML: '+'}};
      resetConditions();
      resetCountUp('heat');
      conditions.heat.workersAssigned = 0;
      delete conditions.heat.heatCountUpAnim;
      //go upto 3 workers
      theMachine.workerButtons(testCase);
      theMachine.workerButtons(testCase);
      theMachine.workerButtons(testCase);
      //go back to 0 workers, countUp should be stopped
      testCase = {target: {dataset: {resource: "heat"}, innerHTML: '-'}};
      theMachine.workerButtons(testCase);
      theMachine.workerButtons(testCase);
      theMachine.workerButtons(testCase);
      eq(typeof(conditions.heat.heatCountUpAnim.startTime), 'undefined'); 
    },
    
    'theMachine.workerButtons() "-" button will not reset progress of countUp if workers goes from 1 to 0': function() {
      let testCase = {target: {dataset: {resource: "heat"}, innerHTML: '-'}};
      resetConditions();
      resetCountUp('heat');
      conditions.heat.workersAssigned = 1;
      delete conditions.heat.heatCountUpAnim;
      theMachine.workerButtons(testCase);
      eq(typeof(conditions.heat.heatCountUpAnim), 'undefined');
      
      testCase = {target: {dataset: {resource: "heat"}, innerHTML: '+'}};
      resetConditions();
      resetCountUp('heat');
      conditions.heat.workersAssigned = 0;
      delete conditions.heat.heatCountUpAnim;
      //go upto 1 worker
      theMachine.workerButtons(testCase);
      //go back to 0 workers, countUp should be stopped
      testCase = {target: {dataset: {resource: "heat"}, innerHTML: '-'}};
      theMachine.workerButtons(testCase);
      eq(typeof(conditions.heat.heatCountUpAnim.startTime), 'undefined');      
    },

    //
    //unfinished tests
    //
    
    //      'theMachine.animateCountUp() resource CountUp will stop if resourceSpent startValue is zero && ratePerSecond is negative': function() {
//         fail('setTimeout does not seem to work with TinyTest(?)');
//         resetConditions();
//         conditions.heat.ratePerSecond = -0.5;
//         conditions.tanks.workersAssigned = 1;
//         conditions.tanks.paused = false;
//         theMachine.animateCountUp('tanks', 'tanksCountUpAnim', conditions.tanks.counterElement);
//         theMachine.animateCountUp('heat', 'heatCountUpAnim', conditions.heat.counterElement);
//         window.setTimeout(function() {
//           eq(conditions.tanks.tanksCountUpAnim.paused, true);
//         }, 0);
//       },

//       'theMachine.animateCountUp() resource CountUp will stop if resourceSpent startValue is zero && ratePerSecond is 0': function() {
//         fail();
//       },
    // 'theMachine.animateCountUp() resets heat.startValue to 0 after heat runs out': function() {
    //   fail();
    // },
    // 'theMachine.animateCountUp() resource CountUp will restart once resourceSpent startValue is greater than zero && ratePerSecond is positive': function() {
    //   fail();
    //   //see above comments, not sure how to do this yet
    // },  
    
    /**Scenarios:
    *1) heat rate < 0 (all heat reliant counters are stopped), +workerButton, heat rate > 0 (restart all heat related counters)
    *2) paused resource counter returns to old startValue upon resuming.
    *  2a) tanks 7 > unpaused > tanks 8 pause > innerHTML shows 7 > unpaused innerHTML shows 8
    *  2b) same issue as above + resource countUp will resume even if heat.startValue === 0
    
  });
</script>