<html>
  <head>
    <script src="js/countUp.js"></script>
    <script src="js/theMachine.js"></script>
    <script src="js/collapse.js"></script>
    <script src="https://justinbourb.github.io/jstinytest_dom_edition/tinytest_dom_edition.js"></script>
  </head>
  <div id="testingContainer" style="margin-left: -9999px">
    <div id="heatCountUpAnimManual" data-resource="heat"></div>
    <div id="heatManual" data-resource="heat"></div>
    <div id="heatCountUpAnim" data-resource="heat" ></div>
    <div id="heatItemCap" data-resource="heat">Item Cap: default cap</div>
    <div id="heatProductionTime" data-resource="heat">Production Time: default time</div>
    <div id="heatProductionVolume" data-resource="heat">Production Volume: default volume</div>
    <div id="heatWorkerCap" data-resource="heat">Worker Cap: default cap</div>
    <div id="heatAutomationRate" data-resource="heat">Automation Rate: default rate</div>
    <div id="heatWorkerEfficiency" data-resource="heat">Worker Efficiency: default efficiency</div>
    <div id="heatRate" data-resource="heat"></div>
    <div id="heatTime" data-resource="heat"></div>
    <div id="heatJobCost" data-resource="heat"></div>
    <div id="heatJobLevel" data-resource="heat"></div>
    <div id="globalWorkerCount" data-resource="global">Workers: 0/5</div>  
    <div class="workers" id="heatWorkerCount" data-resource="heat">0/5</div> 
    <button type="button" data-resource="heat" class="enableAutomation" id="heatAutomationButton" onclick="theMachine.automationButton(event)">Disable Automation</button>
  </div>  
</html>

<script>

  //make a backup of any user data
  let theMachineBackup = theMachine.store('theMachine');
  let globalDataBackup = theMachine.store('globalData');
  //reset conditions to test values
  conditions = (
    {
      heat: { counterElement: "", counterElementManual: "", duration: "", efficiency: 25.12, endValue: 10, gradientColors: ["white", "#F5F5F5"], paused: false, ratePerSecond: 0.5, rateCost: 6, rateLevel: 1, startValue: 0, wasPageLeft: false, workersAssigned: 1, workerCap: 1 },
      tanks: {}
    }
  ); 
  globalData = (
    {
     globalWorkerCap: 5, globalWorkersAvailable: 4  
    }
  );
  //store "test" conditions" in local storage for testing purposes
  theMachine.store('theMachine', conditions);
    
  tests({
    '1) theMachine.calculateValues("init") should fill in calculated values for conditions':function() {       
      theMachine.calculateValues('init');
      eq(conditions.heat.counterElement, document.getElementById("heatCountUpAnim"));
      eq(conditions.heat.counterElementManual, document.getElementById("heatCountUpAnimManual"));
    },
    
    '2) theMachine.checkStartValue() should update start value as needed':function() {
      //theMachine.init();
      conditions.heat.heatCountUpAnim = {};
      conditions.heat.heatCountUpAnim.frameVal = 8;
      conditions.heat.startValue = 7;
      theMachine.checkStartValue("heat", "heatCountUpAnim");
      eq(conditions.heat.startValue, 8);
    },
    
    '3) theMachine.manualCounterButtonStatus() should toggle disabled state correctly':function() {
      conditions.heat.startValue = 7;
      conditions.heat.heatCountUpAnim.frameVal = 7;
      conditions.heat.endValue = 10;
      theMachine.manualCounterButtonStatus('heat', 'heatCountUpAnim')
      eq(document.getElementById('heat' + 'Manual').disabled, false);
      conditions.heat.startValue = 10;
      theMachine.manualCounterButtonStatus('heat', 'heatCountUpAnim')
      eq(document.getElementById('heat' + 'Manual').disabled, true);
    },
    
    '4) theMachine.store() should store in local storage':function() {
      theMachine.store('test', 1);
      eq(theMachine.store('test'), 1);
    },
    
    '5) theMachine.updateCounterButtons() "Item Capacity" should only update endValue when not paused':function() {
      let testCase = {target: {dataset: {resource: "heat"}, innerHTML: 'Item Capacity'}};
      conditions.heat.endValue = 10;
      conditions.heat.startValue = 10;
      conditions.heat.heatCountUpAnim.frameVal = 0;
      try{
        theMachine.updateCounterButtons(testCase);
      } catch (e) {};
      
      //condition which should change
      eq(conditions.heat.endValue, 20);
      
      //it should not affect other values
      eq(conditions.heat.counterElement, document.getElementById('heatCountUpAnim'));
      eq(conditions.heat.counterElementManual, document.getElementById('heatCountUpAnimManual'));
      eq(conditions.heat.duration, 20);
      eq(conditions.heat.gradientColors[0], "white");
      eq(conditions.heat.gradientColors[1], "#F5F5F5");
      eq(conditions.heat.paused, false);
      eq(conditions.heat.ratePerSecond, 0.5);
      eq(conditions.heat.rateCost, 6);
      eq(conditions.heat.startValue, 10);
      
      
    },
    
    '6) theMachine.updateCounterButtons() "Item Capacity" should only update options.suffix, Item Cap and endVal when paused':function() {
      let testCase = {target: {dataset: {resource: "heat"}, innerHTML: 'Item Capacity'}};      
     
      conditions.heat.paused = true;
      conditions.heat.heatCountUpAnim.endVal = 5;
      conditions.heat.heatCountUpAnim.options = {'suffix': ''};
      conditions.heat.heatCountUpAnim.options.suffix = ' / 10'
      
      try{
        theMachine.updateCounterButtons(testCase);
      } catch (e) {};
      
      //conditions which should change
      eq(document.getElementById('heatCountUpAnim').innerHTML, '10 / 20');
      
      //it should not affect other values
      eq(conditions.heat.counterElement, document.getElementById('heatCountUpAnim'));
      eq(conditions.heat.counterElementManual, document.getElementById('heatCountUpAnimManual'));
      eq(conditions.heat.duration, 40);
      eq(conditions.heat.gradientColors[0], "white");
      eq(conditions.heat.gradientColors[1], "#F5F5F5");
      eq(conditions.heat.paused, true);
      eq(conditions.heat.ratePerSecond, 0.5);
      eq(conditions.heat.rateCost, 6);
      eq(conditions.heat.startValue, 10);
      
    },
    
    '7) theMachine.updateCounterButtons() "Job Speed" should only update ratePerSecond, startValue and rateCost':function () {
      let testCase = {target: {dataset: {resource: "heat"}, innerHTML: 'Job Speed'}};   
      conditions.heat.paused = false;
       try{
        theMachine.updateCounterButtons(testCase);
      } catch (e) {};
      
      //conditions which should change
      eq(conditions.heat.ratePerSecond, 0.55);
      eq(conditions.heat.rateCost, 6.6);
      eq(conditions.heat.startValue, 4);
      
      //it should not affect other values
      eq(document.getElementById('heatCountUpAnim').innerHTML, '4 / 30');
      eq(conditions.heat.counterElement, document.getElementById('heatCountUpAnim'));
      eq(conditions.heat.counterElementManual, document.getElementById('heatCountUpAnimManual'));
      eq(conditions.heat.duration, 47.272727272727266);
      eq(conditions.heat.gradientColors[0], "white");
      eq(conditions.heat.gradientColors[1], "#F5F5F5");
      eq(conditions.heat.paused, false);
      
    },
      //conditions[resource][countUpNameAuto].options.ratePerSecond = conditions[resource].ratePerSecond;
    '8) theMachine.updateCounterButtons() "Job Speed" should update correctly while paused':function () {
      let testCase = {target: {dataset: {resource: "heat"}, innerHTML: 'Job Speed'}};   
      conditions.heat.paused = true;
      conditions.heat.startValue = 10;
      conditions.heat.ratePerSecond = 0.5;
      
       try{
        theMachine.updateCounterButtons(testCase);
      } catch (e) {};

      //conditions which should change
      eq(conditions.heat.ratePerSecond, 0.55);
      eq(conditions.heat.rateCost, 7.26);
      eq(conditions.heat.startValue, 3.4000000000000004);
      eq(conditions.heat.rateLevel, 3);

      //it should not affect other values
      eq(conditions.heat.counterElement, document.getElementById('heatCountUpAnim'));
      eq(conditions.heat.counterElementManual, document.getElementById('heatCountUpAnimManual'));
      eq(conditions.heat.duration, 48.36363636363636);
      eq(conditions.heat.gradientColors[0], "white");
      eq(conditions.heat.gradientColors[1], "#F5F5F5");
      eq(conditions.heat.paused, true);

    },
    
    '9) theMachine.calculateValues("init") updates startValue based on time passed':function() {
      conditions.heat.wasPageLeft = Date.now() - 10000;
      conditions.heat.paused = false;
      let oldStartValue = conditions.heat.startValue;
      theMachine.calculateValues('init');
      eq(conditions.heat.startValue, oldStartValue+5.5);
    },
    
    '10) theMachine.calculateValues("init") should not update values based on time passed if paused':function () {
      conditions.heat.wasPageLeft = Date.now() - 10000;
      conditions.heat.paused = true;
      let oldStartValue = conditions.heat.startValue;
      theMachine.calculateValues('init');
      eq(conditions.heat.startValue, oldStartValue);
    },
    
    '11) theMachine.workerButtons() updates global & resource worker counts': function() {
      let testCase = {target: {dataset: {resource: "heat"}, innerHTML: '+'}};
      conditions.heat.paused = false;
      conditions.heat.workersAssigned = 0;
      globalData.globalWorkersAvailable = 5;
      theMachine.workerButtons(testCase);
      eq(globalData.globalWorkersAvailable, 4);
      eq(conditions.heat.workersAssigned, 1);
      
      testCase = {target: {dataset: {resource: "heat"}, innerHTML: '-'}};
      theMachine.workerButtons(testCase);
      eq(globalData.globalWorkersAvailable, 5);
      eq(conditions.heat.workersAssigned, 0);  
    },
    
    '12) theMachine.workerButtons() cannot exceed resource caps or mins': function() {
      let testCase = {target: {dataset: {resource: "heat"}, innerHTML: '+'}};
      theMachine.workerButtons(testCase);
      theMachine.workerButtons(testCase);
      eq(globalData.globalWorkersAvailable, 4);
      eq(conditions.heat.workersAssigned, 1);
      
      testCase = {target: {dataset: {resource: "heat"}, innerHTML: '-'}};
      theMachine.workerButtons(testCase);
      theMachine.workerButtons(testCase);
      eq(globalData.globalWorkersAvailable, 5);
      eq(conditions.heat.workersAssigned, 0);  
    },
    
    '13) theMachine.workerButtons() cannot make global workersAvailable be a negative value': function() {
      let testCase = {target: {dataset: {resource: "heat"}, innerHTML: '+'}};
      conditions.heat.workerCap = 6;
      theMachine.workerButtons(testCase);
      theMachine.workerButtons(testCase);
      theMachine.workerButtons(testCase);
      theMachine.workerButtons(testCase);
      theMachine.workerButtons(testCase);
      theMachine.workerButtons(testCase);
      eq(globalData.globalWorkersAvailable, 0);
      eq(conditions.heat.workersAssigned, 5);
    },
    
    '14) theMachine.workerButtons() update the DOM correctly': function() {
      testCase = {target: {dataset: {resource: "heat"}, innerHTML: '-'}};
      theMachine.workerButtons(testCase);    
      
      eq(document.getElementById('heatWorkerCount').innerHTML, '4/6');
      eq(document.getElementById('globalWorkerCount').innerHTML, 'Workers: 1/5');
    },
    
    '15) theMachine.workerButtons() after increasing workers, automation rates increase correctly': function() {
      fail();
    },
    
    '16) theMachine.pauseResume() pauses and resumes counter correctly': function() {
      //pause the counter
      conditions.heat.paused = true;
      theMachine.pauseResume('heat', 'heatCountUpAnim');
      theMachine.bindEvents();
      eq(document.getElementById('heatCountUpAnim').innerHTML, '9 / 30');
      
      //no progress is made while paused
      setTimeout(function(){ 
        eq(document.getElementById('heatCountUpAnim').innerHTML, '9 / 30');
        conditions.heat.paused = false;
        theMachine.pauseResume('heat', 'heatCountUpAnim');
      }, 6000);
      
      //for some reason this does not trigger a fail in the window when failing, only prints to console
      setTimeout(function() {
         //the counter was resumed in last setTimeout, progress should be made
        eq(document.getElementById('heatCountUpAnim').innerHTML, '22 / 30');
      }, 12000);
    }
    
  });
  //restore user data after tests are compeleted
  theMachine.store('theMachine', theMachineBackup);
  theMachine.store('globalData', globalDataBackup);
</script>