body {
	background: #f5f5f5;
	color: #4d4d4d;
	font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	font-smoothing: antialiased;
	font-weight: 300;
	line-height: 1.4em;
	margin: 2% 20%;
	max-width: 100%;
	min-width: 230px;
	padding: 0;
}
.enableAutomation{
  width: 12%;
}
#heatCounter{
  display: table-cell;
  right: 0px;
  text-align: right;
  width: 50%;
}
#heatBar{
  background-color:white;
}
#heat-seconds-remaining{
  display:table-cell;
  padding: 0;
  text-align: left;
  width: 32%;
  
}
#heatText{
  display: table-cell;
  left: 0px;
  width: 25%;
}
#heatTime{
  display: table-cell;
  font-size: 90%;
  text-align: center;
  width: 20%;
  }
#heatRate{
  display: table-cell;
  font-size: 90%;
  text-align: right;
  width: 12%;
}
.machine-parts{
  border: solid;
  border-width: 1px;
  border-color: black;
  padding-top: 20px;
  background-color: #BEBEBE;
  min-width: 50%;
}
.resource-bar{
  background-color: white;
  border: solid;
  border-width: 1px;
  border-color: black;
  display: inline-table;
  padding: 10px;
  width: 60%;
}
#title{
  background-color: black;
  height: 50px;
  position: relative;
  width: 100%;
}
#title h1 {
  bottom: 0;
	color: white;
	font-size: 20px;
  left: 0;
  position: absolute;
	text-align: left;
	-webkit-text-rendering: optimizeLegibility;
	-moz-text-rendering: optimizeLegibility;
	text-rendering: optimizeLegibility;
  top: 15px;
}
