html{
}



body {
	font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
	line-height: 1.4em;
	background: #f5f5f5;
	color: #4d4d4d;
	min-width: 230px;
	max-width: 100%;
	margin: 2% 20%;
	padding: 0;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	font-smoothing: antialiased;
	font-weight: 300;
}
#heat-bar{
  background-color:white;
}

#heat-text{
  display: table-cell;
  left: 0px;
  width: 25%;


}
#heat-counter{
  display: table-cell;
  right: 0px;
  width: 50%;
  text-align: right;
}


#title{
  background-color: black;
  width: 100%;
  height: 50px;
  position: relative;
}

#title h1 {
  position: absolute;
  top: 15px;
  bottom: 0;
  left: 0;
	font-size: 20px;
	text-align: left;
	color: white;
	-webkit-text-rendering: optimizeLegibility;
	-moz-text-rendering: optimizeLegibility;
	text-rendering: optimizeLegibility;
}


.machine-parts{
  border: solid;
  border-width: 1px;
  border-color: black;
  padding: 20px;
  margin: 20px;
  background-color: white;
}

.resource-bar{
  display: inline-table;
  border: solid;
  border-width: 1px;
  border-color: black;
  padding: 10px;
  background-color: white;
  width: 60%;
}